<div class="edit-assignment">
    <div class="content-secondary-header">Edit Assignment</div>
    <div class="row">
        <div>
            <form class="form-horizontal" novalidate name="editAssignmentForm" id="editAssignmentForm">
                <div class="row general-form">
                    <div class="form-group required">
                        <label class="col-md-2">Title</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="title" maxlength="100"
                                   ng-disabled="isPastDate(oldStartTime)"
                                   ng-model="editAssignment.Name" required />
                            <span class="validate-message" ng-if="editAssignmentForm.$submitted || editAssignmentForm.title.$dirty">
                                <span ng-if="editAssignmentForm.title.$error.required">
                                    Title is required
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group required">
                        <label class="col-md-2">Available From</label>
                        <div class="col-md-4">
                            <div class="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           name="startDate" id="inputStarDate" autocomplete="off"
                                           datetime-picker="MMM dd, yyyy - HH:mm"
                                           ng-model="editAssignment.StartTime" is-open="isOpenStartDate"
                                           ng-disabled="isPastDate(oldStartTime)"
                                           required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-disabled="isPastDate(oldStartTime)"
                                                ng-click="openStartDateCalendar($event, 'editAssignment.StartTime')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <span class="validate-message" ng-show="editAssignmentForm.$submitted || editAssignmentForm.startDate.$dirty">
                                <span ng-show="editAssignmentForm.startDate.$error.required">
                                    Start time is required
                                </span>
                                <span ng-show="editAssignmentForm.startDate.$error.datetime">
                                    Time format is Jan 08, 2016 - 12:00
                                </span>
                                <span ng-show="isPastDate(editAssignment.StartTime) && getcurrentDate() < editAssignment.StartTime">
                                    Start time should not be in the past
                                </span>
                            </span>
                        </div>
                        <label class="col-md-1 align-text-center">Until</label>
                        <div class="col-md-4">
                            <div class="dropdown">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-disabled="isClosed"
                                           name="endDate" id="inputEndDate" autocomplete="off"
                                           datetime-picker="MMM dd, yyyy - HH:mm"
                                           ng-model="editAssignment.EndTime" is-open="isOpenEndDate" required />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-disabled="isClosed"
                                                ng-click="openEndDateCalendar($event, 'editAssignment.EndTime')">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                                <span class="validate-message" ng-show="editAssignmentForm.$submitted || editAssignmentForm.endDate.$dirty">
                                    <span ng-show="editAssignmentForm.endDate.$error.required">
                                        End time is required
                                    </span>
                                    <span ng-show="editAssignmentForm.endDate.$error.datetime">
                                        Time format is Jan 08, 2016 - 12:00
                                    </span>
                                    <span ng-show="!isStartTimeLessThanEndTime(editAssignment.EndTime, editAssignment.StartTime)">
                                        End time must be greater than start time
                                    </span>
                                    <span ng-show="isPastDate(editAssignment.EndTime)
                                          && isStartTimeLessThanEndTime(editAssignment.EndTime, editAssignment.StartTime)">
                                        End time should not be in the past
                                    </span>
                                    <span ng-show="isNewEndTimeAfterOldEndTime(editAssignment.EndTime, oldEndTime)
                                            && isStartTimeLessThanEndTime(editAssignment.EndTime, editAssignment.StartTime)
                                            && !isPastDate(editAssignment.EndTime) && isPastDate(editAssignment.StartTime)">
                                        End time should not be less than {{oldEndTime}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Description</label>
                        <div class="col-md-9">
                            <textarea ng-model="editAssignment.Description" class="form-control resize-description"
                                      rows="10" ng-disabled="isPastDate(oldStartTime)"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2">Attach File</label>
                        <div class="col-sm-5" ng-show="hasAttachment">
                            {{editAssignment.FileName}}
                            <a class="glyphicon glyphicon-remove remove-icon"
                               ng-show="!isPastDate(oldStartTime)"
                               ng-click="onDeleteAttachment()"></a>
                            <div class="glyphicon glyphicon-remove remove-icon"
                                 ng-show="isPastDate(oldStartTime)"
                                 ng-disabled="isPastDate(oldStartTime)"></div>
                        </div>
                        <div ng-hide="hasAttachment">
                            <div class="col-sm-5">
                                <div>
                                    <input class="form-control" type="text" name="uploadFile" autocomplete="off"
                                           ng-model="uploadedFile.name" ng-disabled="isPastDate(oldStartTime)" readonly>
                                    <span class="validate-message" ng-if="editAssignmentForm.uploadedFile.$invalid">
                                        <span ng-if="editAssignmentForm.uploadedFile.$error.maxSize">
                                            File must be less than 5MB
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <span class="btn btn-primary-blue btn-file" ng-disabled="isPastDate(oldStartTime)">
                                    Browse
                                    <input type="file" ngf-select ng-model="uploadedFile" ngf-max-size="5MB"
                                           style="cursor:pointer;" ng-disabled="isPastDate(oldStartTime)"
                                           name="uploadedFile" accept="file_extension|audio/*|video/*|image/*|media_type">
                                </span>
                            </div>
                        </div>
                    </div>
                </div><br />
                <div class="row">
                    <div class="float-right">
                        <input type="button" class="btn btn-primary-gray"
                               ng-click="cancel()" value="Cancel">
                        <input type="submit" class="btn btn-primary-blue" ng-disabled="isSendingRequest"
                               ng-click="save(editAssignmentForm, uploadedFile)" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>