.content-primary-header {
	font-size: $app-content-primary-header-font-size;
    font-weight: 500;
    color: $app-content-primary-header-font-color;
}

.content-secondary-header {
	font-size: $app-content-secondary-header-font-size;
	font-weight: 500;
    color: $app-content-secondary-header-font-color;
}