.add-assignment {
    .align-text-center {
        text-align: center;
    }

    .float-right {
        float:right;
    }

    .row {
        margin-right:0px;
        margin-left:0px;
    }

    .resize-description {
        resize: vertical;
    }
}
