.edit-assignment {
    .align-text-center {
        text-align-last: center;
    }

    .remove-icon {
        cursor: pointer;
        margin-left: 10px;
        top: 4px;
    }

    .float-right {
        float: right;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    .resize-description {
        resize: vertical;
    }
}
