<div class="add-survey-template line-top">
    <p class="content-secondary-header">New Feedback Template</p>
    <form class="form-horizontal" novalidate name="addSurveyTemplateForm" id="addSurveyTemplateForm">
        <div class="row general-form">
            <div class="form-group required">
                <label class="col-md-2">Title</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" name="title" maxlength="100"
                           ng-model="addSurveyTemplate.Title" required />
                    <span class="validate-message" ng-if="addSurveyTemplateForm.$submitted || addSurveyTemplateForm.title.$dirty">
                        <span ng-if="addSurveyTemplateForm.title.$error.required">
                            Title is required
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-md-2">Feedback type</label>
                <div class="col-md-4 dropdown">
                    <select class="form-control" name="surveyType" id="surveyType"
                            ng-options="type.Id as type.Name for type in surveyTypes"
                            ng-model="addSurveyTemplate.SurveyType" required>
                        <option value="" hidden></option>
                    </select>
                    
                    <span class="validate-message"
                          ng-show="addSurveyTemplateForm.$submitted || addSurveyTemplateForm.surveyType.$touched">
                        <span ng-show="addSurveyTemplateForm.surveyType.$error.required">
                            Feedback type is required
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group required">
                <label class="col-md-2">Description</label>
                <div class="col-md-9">
                    <textarea class="form-control text-area" rows="4"
                              ng-model="addSurveyTemplate.Description" name="description" required></textarea>
                    <span class="validate-message" ng-show="addSurveyTemplateForm.$submitted || addSurveyTemplateForm.description.$dirty">
                        <span ng-show="addSurveyTemplateForm.description.$error.required">
                            Description is required
                        </span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Thank-you Message</label>
                <div class="col-md-9">
                    <textarea class="form-control text-area" rows="4" ng-model="addSurveyTemplate.ThankYou"></textarea>
                </div>
            </div>
        </div><br />
        <div class="row general-form">
            <p class="content-secondary-header">
                Feedback Template Type
            </p>
            <p>
                <label class="radio-inline radio radio-primary">
                    <input type="radio" name="optradio" id="radio-option-{{$index}}"
                           ng-click="isNewSurvey(true)" checked />
                    <label class="" for="radio-option-{{$index}}">  New Feedback</label>
                </label>
                <label class="radio-inline radio radio-primary">
                    <input type="radio" name="optradio" id="radio-option-{{$index + 1}}"
                           ng-click="isNewSurvey(false)" ng-disabled="hasTemplate" />
                    <label class="" for="radio-option-{{$index + 1}}" ng-disabled="hasTemplate">  Copy a Feedback Template</label>
                </label>
            </p>
            <div class="well well-template" ng-hide="isCopySurvey">
                <div class="well well-background-color" ng-repeat="surveyTemplate in surveyTemplates">
                    <div class="form-group row" ng-class="{active:accordion == {{$index + 1}} }">
                        <label class="radio-inline radio radio-primary col-md-6" ng-click="isAccordion($index)">
                            <input type="radio" ng-model="$parent.checkedSurvey" ng-value="surveyTemplate" id="{{$index + 1}}">
                            <label class="" for="{{$index + 1}}">  {{surveyTemplate.Title}}</label>
                        </label>
                        <div class="pull-left col-md-6 survey-template-icon">
                            <a ui-sref="survey.question({surveyId: surveyTemplate.Id})" title="Edit template">
                                <i class="fa fa-pencil pencil-icon"></i>
                            </a>

                            <a ng-click="removeSurveyTemplate(surveyTemplate.Id)" title="Remove template">
                                <i class="fa fa-trash trash-icon"></i>
                            </a>

                            <a ng-click="preview(surveyTemplate.Id)" title="Preview template">
                                <i class="fa fa-eye eye-icon pull-right"></i>
                            </a>

                        </div>
                    </div>
                    <div class="well well-margin" ng-show="accordion == {{$index + 1}}">
                        <div ng-repeat="questionTitle in surveyTemplate.QuestionTitles">
                            {{$index + 1}}. {{questionTitle}}
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="row">
                <div class="float-right">
                    <input type="button" class="btn btn-primary-gray"
                           ng-click="cancel()" value="Cancel">
                    <input type="submit" class="btn btn-primary-blue" ng-disabled="isSendingRequest"
                           ng-click="create(addSurveyTemplateForm)" value="Create">
                </div>
            </div>
        </div>
    </form>
</div>