.login {
    .general-form {
        border: none;
    }

    .loginForm {
        border: solid 1px #959595;
        padding-bottom: 10px;
        padding-top: 15px;
        width: 300px;
        text-align: center;
        margin: 9% auto;
    }

    .login-row {
        padding: 10px 20px 10px 20px;
    }
}
